<nav>
  <div class="topnav">
    <a class="active" href="main.ejs">Home</a>
    <a href=index2.html>Make Review</a>
    <a href=index2.html>Profile</a>
    <a href=index2.html>Login</a>
</div> 
</nav>
