<nav>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/">Make Review</a>
    <% if(loggedIn){ %>
      <a href="/">Profile</a>
      <p><form action="/logout" method="POST">
        <button>Logout </button>
      </form></p>
    <% } else{ %>  
      <a href="/">Sign Up</a>
      <a href="/">Log In</a>
   <% } %>
    
</div> 
</nav>
