<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="styles.css">
    <meta name=author content="Your name here">
    <title>RateMyCourse</title>
</head>
<body>

    <%- include("partials/navbar.ejs", {loggedIn: loggedIn}) %>

    <%- include("partials/flashes.ejs") %>
<main>

    <img src="/RateMyCourseLogo.PNG" alt ="image" id="hp">

    <div id = "searchbox">
        <form id ="myForm" method = "GET" action = "/search/">
            <p>
                <label>
                    Search for a class: 
                    <input type ="text" required name = "term">
                </label>
                <input type = "submit" value = "search" id="searchbutton">
            </p>
        </form>

        <form id="browsebutton" method = "GET" action = "/search/">
            <p>
                <input type = "submit" value = "Browse All Courses" id = "browsebutton">
            </p>
        </form>
    </div>

    <h1>RateMyCourse</h1>

    <p>A web application by Amy, Nya, Sophia, and Nico</p>


</main>

<!-- JavaScript at the bottom -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cs.wellesley.edu/~anderson/js/bounds/bounds-plugin.js"></script>
<script src="server.js"></script>
</body>
</html>
