<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Make Review</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Submit a Review</h1>

<form id="review"
      method="POST"
      action="/review/">
     <label>Course Code: </label> 
     <input placeholder="CS304" name="courseCode"><br><br> 
     <label>Workload Rating: </label> 
     <Select name = workloadRating>
        <option value = 1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
        <option value = 5>5</option>
     </Select><br><br> 
     <label>Content Difficulty Rating: </label> 
     <Select name = contentDifficulty>
        <option value = 1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
        <option value = 5>5</option>
     </Select><br><br>
     <label>Accessibility Rating: </label> 
     <Select name = accessibility>
        <option value = 1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
        <option value = 5>5</option>
     </Select><br><br>
     <label>Overall Rating: </label> 
     <Select name = rating>
        <option value = 1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
        <option value = 5>5</option>
     </Select><br><br>
     <label>Review:
            <textarea rows="5" cols="30" name="reviewText"></textarea>
    </label>     
  <p><button type="submit">Submit</button></p>
</form>

    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>