h1 {
  color:rgb(0, 51, 11);
  border-color: green;
  margin-left: 40px;
  font-family:'Courier New', Courier, monospace
}

h2 {
  color: rgb(5, 59, 0);
  margin-left: 40px;
}

h3 {
  color: rgb(5, 59, 0);
  margin-left: 40px;
}

p {
  /* color: rgb(0, 82, 0); */
  margin-left: 40px;
}

ul{
  color: rgb(3, 82, 0);
  margin-left: 40px;
}

img {
  width: 500px;
  height: auto;
}

figure figcaption {
  text-align: center;
  color:rgb(0, 51, 11);
  margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.special-title {
  margin-left: 40px;
  color:rgb(6, 56, 21)
}

.topnav {
  overflow: hidden;
  background-color: #082e0b;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #92c591;
  color: black;
}

.topnav a.active {
  background-color: #19812a;
  color: white;
}

.bottomscroll {
  text-align: center;
  color:rgb(0, 51, 11);
  margin-bottom: 100px;
}

#hp  {
  float: right;    
   margin: 0 0 0 100px;
  width: 700px;
}

#revealbutton {
  color:rgb(156, 204, 111);
  margin-left: 40px;
  background-color: rgb(5, 65, 0);
}

.courseCard {
  border: 2px solid blue;
  margin-left: 3em;
  margin-bottom: 1em;
  width: 80%;
  padding: 0.25em;
  padding-bottom: 1em;
}

.searchResult {
  border: 2px solid blue;
  margin-left: 3em;
  margin-bottom: 1em;
  width: 90%;
  padding: 1em;
}

.reviewTitle {
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.container p {
  margin-top: 0em;
  margin-bottom: 0em;
}

#errors p {
  color: rgb(87, 0, 0);
}

#info p {
  color: rgb(32, 6, 138);
}